<script type="ld-conf">
{
  "name": "Two images in a row"
}
</script>

<div class="image-row image-row--two-images">
  <figure class="image-row__item">
    <img doc-image="image-one" class="image-row__image"/>
    <figcaption doc-editable="caption-one" class="image-row__caption">Caption</figcaption>
  </figure>
  <figure class="image-row__item">
    <img doc-image="image-two" class="image-row__image"/>
    <figcaption doc-editable="caption-two" class="image-row__caption">Caption</figcaption>
  </figure>
</div>