<script type="ld-conf">
{
  "label": "Title",
  "properties": ["add-picture"]
}
</script>

<header class="head">
  <span class="head__dateline" doc-editable="text-dateline">Dateline</span>
  <h1 doc-editable="title" class="head__title">Title</h1>
  <div class="head__subline">
    <span class="head__meta head__meta--topic" doc-editable="text-topic">Topic</span>
    <span class="head__meta head__meta--date" doc-editable="text-date">Date</span>
    <span class="head__meta head__meta--author">by <b class="head__authors-name" doc-editable="text-author">Author name</b></span>
  </div>
  <figure class="head__image">
    <img doc-image="image" class="head__image-item"/>
    <figcaption doc-editable="text-image-caption" class="head__image-caption">Caption</figcaption>
  </figure>
</header>
